<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlyHand</title>

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet/less" href="/css/register.less">
    <link rel="stylesheet/less" href="/css/material.less">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <div class="header-box">
            <img src="/img/clear.svg">

            <p>다음</p>
        </div>
    </div>

    <div class="title-box">
        <h4>회원 &nbsp 가입</h4>
    </div>

    <div class="">
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
    </div>

</body>
</html>